# Python 
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Project Specific
weather_history.csv
US_weather_average_analytics_BL.png
US_weather_average_analytics.png
Weather_Realtime_Monitor.pbix
*.log

# Docker
.dockerignore